* {
    padding: 0px;
    /* margin: 0px; */
}

#maintitle {
    background-color: cornflowerblue;
    width: 100%;
    height: 120px;
    padding-top: 10px;
}

.two {
    text-align: center;
    
}

.three{
    margin-left: 94%;
}



button {
    margin-left: 5px;
    padding: 3px;
    background-color: cornflowerblue;
    font-weight: bold;
    cursor: pointer;
}

.d1 {
    color: aliceblue;
    text-align: center;
}

.h2 {
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: antiquewhite;
}

.h3 {
    text-decoration: none;
    color: maroon;
}

.h4 {
    background-color: cornflowerblue;
    padding-top: 3px;
    padding-bottom: 3px;
}

.c1,
.c2,
.c3,
.c4,
.c5,
.c6,
.c7,
.c8,
.c9,
.c10 {
    text-decoration: none;
    color: maroon;
    margin-left: 10px;
}

.h6 {
    background-color: cornflowerblue;
    padding-bottom: 3px;
    padding-top: 5px;
}

.d2 {
    color: aliceblue;
}

.c11 {
    text-decoration: none;
    color: black;
    display: inline-block;
    margin-left: 2px;
}

.c12 {
    text-decoration: none;
    color: black;
    display: inline-block;
    margin-left: 2px;
}

.h7 {
    background-color: antiquewhite;
}

.h5 {
    background-color: white;
    padding-top: 3px;
    padding-bottom: 3px;
}

.c1:hover {
    color: black;
    text-decoration: underline;
}

.c1:active {
    color: cornflowerblue;
    text-decoration: underline;
}

.c2:hover {
    color: black;
    text-decoration: underline;
}

.c2:active {
    color: cornflowerblue;
    text-decoration: underline;
}

.c3:hover {
    color: black;
    text-decoration: underline;
}

.c3:active {
    color: cornflowerblue;
    text-decoration: underline;
}

.c4:hover {
    color: black;
    text-decoration: underline;
}

.c4:active {
    color: cornflowerblue;
    text-decoration: underline;
}

.c5:hover {
    color: black;
    text-decoration: underline;
}

.c5:active {
    color: cornflowerblue;
    text-decoration: underline;
}

.c6:hover {
    color: black;
    text-decoration: underline;
}

.c6:active {
    color: cornflowerblue;
    text-decoration: underline;
}

.c7:hover {
    color: black;
    text-decoration: underline;
}

.c7:active {
    color: cornflowerblue;
    text-decoration: underline;
}

.c8:hover {
    color: black;
    text-decoration: underline;
}

.c8:active {
    color: cornflowerblue;
    text-decoration: underline;
}

.c9:hover {
    color: black;
    text-decoration: underline;
}

.c9:active {
    color: cornflowerblue;
    text-decoration: underline;
}

.c10:hover {
    color: black;
    text-decoration: underline;
}

.c10:active {
    color: cornflowerblue;
    text-decoration: underline;
}

.c11:hover {
    color: black;
    text-decoration: underline;
}

.c12:hover {
    color: black;
    text-decoration: underline;
}

.h3:hover {
    color: black;
    text-decoration: underline;
}