* {
    margin: opx;
    padding: 0px;
}

.h1 {
    background-color: cornflowerblue;
    padding-top: 5px;
}

.d1 {
    padding-bottom: 5px;
    color: aliceblue;
}

.h2 {
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: antiquewhite;
}

.h3 {
    text-decoration: none;
    color: maroon;
}

.h4 {
    background-color: cornflowerblue;
    padding-top: 3px;
    padding-bottom: 3px;
}
.form{
    background-color: antiquewhite;
    width: 500px;
    height: 290px;
    border: 3px solid black;
}
.button1{
    padding: 3px;
    font-weight: bold;
    background-color: cornflowerblue;
    width: 70px;
    border: none;
    border-radius: 5px;

}
.button2{
    padding: 3px;
    font-weight: bold;
    background-color: cornflowerblue;
    border: none;
    width: 70px;
    border-radius: 5px;            
}
.h6 {
    background-color: cornflowerblue;
    padding-bottom: 3px;
    padding-top: 5px;
}

.d2 {
    color: aliceblue;
}

.c11 {
    text-decoration: none;
    color: black;
    display: inline-block;
    margin-left: 2px;
}

.c12 {
    text-decoration: none;
    color: black;
    display: inline-block;
    margin-left: 2px;
}

.h7 {
    background-color: antiquewhite;
}